<!DOCTYPE html>
<html>
    <head>
        <style></style>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div style="margin: 20px 0;">
            <form method="POST" action="/test">
                <input style="width: 100vw; margin-bottom: 20px;" type="text" placeholder="Enter Query to change bank.com ip address" name="hostname">
                <button style="margin: 10px 0;" class="btn btn-success" type="submit">Submit</button>
                <h4>SELECT * from table where hostname=""</h4>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hostname</th>
                    <th scope="col">IP Address</th>
                </tr>
                <tr id="result-row">

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
    <script>
        $(document).ready(function(){
            var $form = $('form');
            $form.submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(response){
                },'json');
                return false;
            });
        });
    </script>
</html>